name: CI/CD for Dinner App

on:
  push:
    branches:
      - main
  workflow_dispatch:   # allows manual trigger

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build Docker Image
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dinner-app:latest .

      # Push Docker Image
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/dinner-app:latest

      # Deploy to Server
      - name: Deploy on Server via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASS }}
          script: |
            docker stop dinner || true
            docker rm dinner || true
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/dinner-app:latest
            docker run -d -p 8888:8888 --name dinner ${{ secrets.DOCKERHUB_USERNAME }}/dinner-app:latest
